
.mob-menu {
  display: none;
  width: 100%;
  height: 30px;
  color: #f90001;
  font-weight: bold;
  font-family: 'Volkswagen-Medium';
}
.big img {
  width: 100%;
}
.introtxt {
  font-family: 'Volkswagen-Medium';
  font-weight: 700;
  font-size: 250%;
  text-transform: uppercase;
  color: #f90001;
  margin-left: 4%;
  padding: 5%;
}
.introtxt p {
  text-align: center;
  padding: 2%;
}
span.title {
  display: block;
  margin: 0 auto 0;
  background-position: center center;
  text-align: center;
  color: #f90001;
  margin-bottom: 2%;
  font-weight: bold;
  line-height: 145%;
  font-size: 140%;
  font-family: 'Volkswagen-Medium';
}
.box {
  width: 80%;
  height: 60%;
  margin: 3% auto 0;
  -webkit-border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 3%;
}

.box a{
	text-decoration: none;
}
.box p {
  color: #f90001;
  display: block;
  text-align: center;
  font-family: 'Volkswagen-Medium';
}
.box img {
  display: block;
  margin: 0 auto 1%;
}
.bigbox {
  width: 95%;
  height: 60%;
  margin: 3% auto 0;
  -webkit-border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
ul.accessoires {
  margin-bottom: 16%;
  margin-left: auto;
  margin-right: auto;
}
ul.accessoires li {
  display: block;
  float: left;
  width: 90px;
  height: 100px;
  background: #ccc;
  overflow: hidden;
  margin-left: 5%;
}
ul{
	margin-bottom: 0;
}
ul.footermenu{
	width:960px;
	margin: 0 auto 0;
}
ul.footermenu li {
  display: block;
  float: left;
  margin-left: 3%;
  color: #fff;
  margin-top: 10px;
  font-family: 'Volkswagen-Medium';
}
ul.footermenu li a {
  color: #fff;
  text-decoration: none;
}
ul.footermenu li a:hover {
  text-decoration: underline;
}
ul.footermenu li.active {
  text-decoration: underline;
}
ul.footermenu li:last-child {
  float: right;
}


  
/*
  position:absolute;
  bottom:0;
*/
}

/* contact page */
.map {
  -moz-box-shadow: 1px 6px 10px -5px #000000;
  -webkit-box-shadow: 1px 6px 10px -5px #000000;
  box-shadow: 1px 6px 10px -5px #000000;
  height: 232px;
  background: #fff;
  background: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
.shop_img {
  -moz-box-shadow: -1px 0 10px 0 #000000;
  -webkit-box-shadow: -1px 0 10px 0 #000000;
  box-shadow: -1px 0 10px 0 #000000;
  float: left;
  margin-right: 11px;
}
address {
 
}
address p {
  margin: 0;
  padding: 0;
  font-family: 'Volkswagen-Medium';
}
.contact-title {
  font-size: 140%;
  font-family: 'Volkswagen-Medium';
  font-weight: bold;
  color: #f90001;
}
.contact input[type="text"] {
  width: 100%;
  padding: 2%;
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(top, #ffffff, #e1e1e1);
  font-family: 'Volkswagen-Medium';
}
.contact textarea {
  width: 100%;
  height: 160px;
  padding: 2%;
  resize: none;
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(top, #ffffff, #e1e1e1);
  font-family: 'Volkswagen-Medium';
}
.contact input[type="submit"] {
  width: 40%;
  border: none;
  font-size: 20px;
  text-shadow: none;
  background-color: rgba(204, 5, 28, 1);
  color:white;
  font-family: 'Volkswagen-Medium';
}
.shop-img {
  background: #cc051c;
  margin-top: 20px;
  padding: 2%;
  width: 100%;
  overflow: hidden;
}
.shop-img span {
  background: #fff;
  display: block;
  font-size: 120%;
  overflow: hidden;
  margin-bottom: 2px;
}
.shop-img span p {
  margin: 0 2% 2% 2%;
  padding: 0;
  font-size: 80%;
  font-family: 'Volkswagen-Medium';
}
span.addresse p {
  padding: 0;
  margin: 0 2% 0 2%;
  font-family: 'Volkswagen-Medium';
}
.mentionlegales a {
  text-decoration: none;
  color: #f90001;
  font-family: 'Volkswagen-Medium';
}
p.descp,
p {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: 'Volkswagen-Medium';
}


#improved li {
	position:relative;
	overflow:hidden;
	display: block;
	font-family: 'Volkswagen-Medium';
}
#improved li:before{
	content: "[+]";
	color: #f90001;
}
#improved li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
}

a.anil img{
	-webkit-transition: all .5s;
}

a.anil:hover img{
	opacity: .4;
}



#accordion-container {
    margin-bottom: 35px;
    margin-top: 35px;
	position:relative;
}
/* Accordion Start */


#accordion-container 
{
	margin-top: 25px;
	margin-bottom:35px;
}

.accordion-header 
{ 
  font-size: 15px;
  background-color: rgba(215, 44, 44, 0.5);
	margin: 0px 0 0 0;
	padding: 5px 60px;
	cursor: auto;
	border-top:1px solid #a00d1d;
	border-bottom:1px solid #a00d1d;
	letter-spacing:1.2px;
	font-family: 'volkswagen-mediumregular';
	color: #fff;
}

.accordion-header a
{ 
	text-decoration:none;
	color: #fff;  	
}

.active-header 
{
	background: url(../../images/active-header.png) #DA021A;
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.active-header:hover 
{
	background: url(../../images/active-header.png) #DA021A;
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.inactive-header 
{
  background-color: rgba(215, 44, 44, 0.8);
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.inactive-header:hover 
{
	background: url(../../images/inactive-header.png) #DA021A;
	background-repeat: no-repeat;
	background-position: 15px 50%;
}
.accordion-content 
{
	display: none;
	padding: 20px 10px;
	background: url(../../images/tab_bg.png) repeat 0 0 transparent;
	color:#fff;
}

/* Accordion End */

.phone_company
{
	display:block;
	width:100%;
}


.phone_company ul 
{
    list-style: none outside none;
}

.phone_company ul li 
{
  float: left;
  position: relative;
	margin-right:10px;
	margin-bottom:10px;
}

.phone_company ul li img{
	width: 100%;
}

.phone_company ul li div.company_logo 
{
    overflow: hidden;
	height:135px;
}

.phone_company ul li div.company_logo img 
{

}


.brand_image_container {
    float: left;  margin-top: 10px;
    position: relative;
    width: 170px;
}

.brand_image
{
	text-align:left;	
}



.phone_model ul 
{
    list-style: none outside none;
}

.phone_model ul li 
{
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 11px;
	position:relative;
}

.phone_model ul li div.model_image 
{
    display: block;
	padding-bottom:20px;
	position:relative;
}

.phone_model ul li div.model_image img 
{
    width: auto;
	height:170px;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

.phone_model ul li div.model_image img:hover
{
	
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;
  position:relative;
  top:-10px;
  left:0px;
}

.phone_model ul li div.model_image:hover
{
	background:url(../../images/phone_model/shadow.png) no-repeat center bottom transparent;
	opacity:1;
}

.phone_service {
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.phone_service_left {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  min-width: 256px;
}

.phone_service_left2 {
  float: left;
  position: relative;
  min-width: 256px;
	margin-left:10px;
	text-align: center;
  margin-bottom: 20px;
}

.phone_service_right {
	text-align: center;
}

.phone_service_right2 {
  float: left;
  position: relative;
}

.phone_service_right2 div.row-fluid{
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.phone_service_right2 div.row-fluid .service-name{
  float: left;
}

.phone_service_right2 div.row-fluid .service-name a{
  color: #FFFFFF;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
}

.phone_service_right2 div.row-fluid .service-price {
  color: #FFFFFF;
  float: right;
  font-size: 18px;
}

.phone_service_right2 div.row-fluid .service-price span{
  color: #000000;
  font-size: 16px;
  margin-right: 12px;
}

.phone_service_right2 div.row-fluid:hover .service-name a{
  cursor:pointer;
  color:#ff0000;
}

.phone_service_right2 div.row-fluid:hover .service-price{
  cursor:pointer;
  color:#ff0000;
}

.sub_service_container
{
	padding-bottom:10px;	
}

.sub_service_box {
    display: block;
    height: 220px;
    position: relative;
    min-width: 230px;
}

.en_boutique_box
{
	background: url("../../images/mod1.png") no-repeat scroll 0 0 transparent;
}

.par_courrier_box
{
	background: url("../../images/mod2.png") no-repeat scroll 0 0 transparent;
}

.par_coursier_box
{
	background: url("../../images/mod3.png") no-repeat scroll 0 0 transparent;
}

.service_details
{
	position:absolute;
	right:0px;
	bottom:0px;	
	font-family: 'volkswagen-mediumregular';
  font-size: 20px;
	color:#fff;
  text-align: right;
}

.service_details .service_name
{
	text-transform:capitalize;
	margin-bottom: 10px;
}

.service_details .service_price
{
	 font-size: 26px;
}

.sub_service_box:hover
{
	cursor:pointer !important;	
}

.sub_service_box:hover .service_details
{
	color:#ff0000;
}

.push { height:40px; }

.push:before, .push:after {
  display: table;
  content: "";
  zoom: 1;
}

.push:after {
  clear: both;
}

/* Media page style */
p.media-title{
	font-weight: bold;
	font-size: 225%;
	color: #f90001;
}
p.media-desc{
	margin-top: 8px;
	font-size: 120%;
	color: #444;
}

/*animation part*/
.floating {
  float: left;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 5px;
}
@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 15px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}
.shadow {
  -webkit-animation-name: Shadow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Shadow;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Shadow {
  from {
    opacity: .2;
  }
  65% {
    opacity: .7;
  }
  to {
    opacity: .2;
  }
}
@-moz-keyframes Shadow {
  from {
    opacity: .2;
  }
  65% {
    opacity: .7;
  }
  to {
    opacity: .2;
  }
}
@-webkit-keyframes bgMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500% 0;
  }
}

@media only screen and (max-width: 959px) {
  .introtxt {
    font-family: 'volkswagen-regularregular';
    font-weight: 700;
    font-size: 180%;
    text-transform: uppercase;
    color: #f90001;
    margin-left: 16%;
    padding: 5%;
    -webkit-border-radius: 20px;
  }
  nav ul li {
    padding-left: 1%;
    padding-right: 1%;
  }
  ul.accessoires {
    margin: 0 auto 0;
  }
  ul.footermenu li:last-child {
    float: left;
  }
}

@media only screen and (max-width: 979px) {
  #menu-menu-header {
		float:none;
	}

	.hero-unit {
		padding: 0px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 1200px) {
  .phone_service_left2 {
    width: 100% !important;
    margin-left: 0% !important;
  }

  .phone_service_right2 {
    width: 100% !important;
    margin-left: 0% !important;
  }

  .en_boutique_box
  {
		width: 100% !important;
		margin-left: 30% !important;
  }

	.par_courrier_box
	{
	  width: 100% !important;
	  margin-left: 30% !important;
	}

	.par_coursier_box
	{
		width: 100% !important;
		margin-left: 30% !important;
	}

	.service_details {
		right: auto;
		left:150px;
	}

	.hero-unit h1 {
		font-size: 50px;
	}
	
}

@media only screen and (min-width: 1200px) {
	.googleplus {
		margin-left: 4.8% !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.facebook{
		margin-left: 34.188% !important;
	}
	
	.twitter{
		margin-left: 6% !important;
	}

	.googleplus {
		margin-left: 9% !important;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.facebook{
		margin-left: 25% !important;
	}
	
	.twitter{
		margin-left: 10% !important;
	}

	.googleplus {
		margin-left: 18% !important;
	}
}

@media only screen and (max-width: 980px) {
	#wrapper {
		margin: 0px auto 20px !important;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.hero-unit h1 {
		font-size: 35px;
	}

	/*.facebook {
		margin-left: 0 !important;
		width: 100%!important;
	}*/

	#footer {
		position: relative !important;
	}

	.facebook, .twitter, .googleplus {
		display: none !important;
	}
}


@media only screen and (min-width: 650px) and (max-width: 767px) {
		.facebook, .twitter, .googleplus {
			text-align: center !important;
		}
	}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  nav ul {
    display: none;
  }
  .mob-menu {
    display: block;
  }
  .bigbox {
    width: 86%;
    height: 60%;
    margin: 3% auto 0;
    -webkit-border-radius: 15px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .shop-img {
    background: #cc051c;
    margin-top: 20px;
    padding: 2%;
    width: 92%;
    overflow: hidden;
  }

  .en_boutique_box
  {
		width: 100% !important;
		margin-left: 28% !important;
  }

	.par_courrier_box
	{
	  width: 100% !important;
	  margin-left: 28% !important;
	}

	.par_coursier_box
	{
		width: 100% !important;
		margin-left: 28% !important;
	}

}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  nav ul {
    display: none;
  }
  .mob-menu {
    display: block;
  }
  .bigbox {
    width: 88%;
  }
  ul.accessoires {
    margin: 0 9% 0;
    display: block;
  }
  .shop-img {
    background: #cc051c;
    margin-top: 20px;
    padding: 2%;
    width: 90%;
    overflow: hidden;
  }

  .en_boutique_box
  {
		width: 100% !important;
		margin-left: 23% !important;
  }

	.par_courrier_box
	{
	  width: 100% !important;
	  margin-left: 23% !important;
	}

	.par_coursier_box
	{
		width: 100% !important;
		margin-left: 2% !important;
	}
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
